$titlecolor: rgb(68, 67, 67);
$titlecolor-light: rgb(121, 120, 120);
$titlecard-background: rgba(230, 234, 235, 0.8);
$seconddiv-color: rgb(255, 255, 255);
$vFlexWidth: 900px;
$shadeFlexWidth: 950px;
