@import 'variables';
body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.firstDiv {
    width: 100%;
    height: 100%;
    background-image: url('../../images/glalal.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.titleTextBox {
    margin: 0;
    padding: 5px 5px 0 10px;
    border-radius: 5px;
    position: absolute;
    top: 5%;
    left: 5%;
    .titleCard {
        font-size: 3rem;
        color: $titlecolor;
        margin: 0;
    }
    .mainLinks {
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        a {
            // Get rid of silly <a> styling
            text-decoration: none;
            color: $titlecolor;
        }
        a:hover {
            color: $titlecolor-light;
        }
    }
}

@media screen and (max-width: 860px) {
    .titleTextBox {
        background-color: #88ff88//$titlecard-background;
    }
}