@import 'variables';
// Tag changes
body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    min-width: 570px;
}

p {
    font-size: 1.30rem;
    line-height: 1.8;
}

a {
    // Get rid of ugly <a> styling
    text-decoration: none;
    color: $titlecolor;
}

a:hover {
    color: $titlecolor-light;
}

// div classes
.vFlexOnWidth {
    // 'Variable Flex on Width': change from "flex direction 'row'" to "flex direction 'column'" when going below $vFlexWidth
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%; // width: 100%;
}

.column {
    flex-direction: column;
}

.verticalImageAndCaptions {
    img {
        margin-top: 40px;
    }
    img:first-of-type {
        margin-top: 0px;
    }
    i {
        width: 300px;
        color: $titlecolor-kindalight;
    }
}

.pageDiv {
    width: 100%;
    height: auto; // 100%;
    display: block;
    overflow: hidden;
    padding-top: 30px;
    padding-bottom: 30px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.introDiv {
    background-image: url('../../images/glalal.png');
    i {
        color: $titlecolor-light;
    }
    height: 100% !important;
}

.problemDiv {
    background-color: $problemDiv-color;
}

.strategyDiv {
    background-color: $strategyDiv-color;
}

.mechDiv {
    background-color: $mechDiv-color;
    h2,
    h3 {
        color: $titlecolor-white;
    }
    p,
    i {
        color: $paragraph-white;
    }
    a {
        color: $paragraph-kindawhite;
    }
}

.elecDiv {
    background-color: $elecDiv-color;
    h2,
    h3 {
        color: $titlecolor-white;
    }
    p,
    i {
        color: $paragraph-white;
    }
    a {
        color: $paragraph-kindawhite;
    }
}

.piDiv {
    background-color: $piDiv-color;
}

.stmDiv {
    background-color: $stmDiv-color;
}

.compDiv {
    background-color: $compDiv-color;
}

.whoAreWeDiv {
    background-color: $whoAreWeDiv-color;
    i {
        font-size: 1.3rem;
        color: $titlecolor;
    }
}

.compDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    .column {
        width: 70%;
    }
}

.makeMeThicc {
    width: 100%;
}

.makeMeToll {
    height: 100%;
}

.autoHeight {
    height: auto;
}

// Positioning
.halfWidth {
    width: 50%;
}

.positionTopLeft {
    position: absolute;
    top: 5%;
    left: 5%;
}

.rightSideText {
    text-align: right;
}

.leftSideText {
    text-align: left;
}

// Text styling
.titleCard {
    font-size: 3rem;
    color: $titlecolor;
    margin: 0;
}

.mainLinks {
    font-size: 1.5rem;
    line-height: 1.75;
    display: flex;
    flex-direction: column;
}

.humanText {
    max-width: 230px;
}

// Images
.baseImg {
    display: block;
    height: auto;
    width: auto;
}

.compImg {
    max-height: 445px;
    max-width: 495px;
}

.robotImg {
    max-height: 600px;
    max-width: 450px;
}

.humanImg {
    max-height: 270px;
    max-width: 230px;
}

.pcbImg {
    max-height: 675px;
    max-width: 675px / 1993px /1120px;
}

.compImg {
    max-height: 300px;
    max-width: 300px;
}

.anglePcbImg {
    max-height: 675px;
    max-width: 675px / 4048px / 3036px;
}

.stmImg {
    max-height: 500px;
    max-width: 429px;
}

.sideImg {
    max-height: 1000px;
    max-width: 376px;
}

.earlyImg {
    max-height: 570px;
    max-width: 424px;
}

// Reactive
.shade {
    padding: 5px 5px 0 10px;
    border-radius: 5px;
}

@media screen and (max-width: $shadeFlexWidth) {
    .shade {
        background-color: $titlecard-background;
    }
}

@media screen and (max-width: $vFlexWidth) {
    .vFlexOnWidth {
        flex-direction: column; // align-items: center;
        justify-content: center;
    }
    .leftSide {
        width: 80%;
    }
    .vReverseColumn {
        flex-direction: column-reverse;
    }
    .pageDiv {
        height: auto;
        padding-top: 30px;
    }
    .introDiv {
        height: 100%;
    }
    .titleCard {
        margin-bottom: 30px;
    }
}